.adsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.banner.second {
  background-image: url("example2.png");
  background-size: contain;
}
.banner.third {
  background-image: url("example3.png");
  background-size: contain;
}
.banner {
  width: 30%;
  height: 300px;
  border: 1px solid peru;
  display: flex;
  justify-content: center;
  align-items: center;
}
